In [1]:
import pandas as pd

In [2]:
import numpy as np

# Pré-processamento

### Ver informações para cada ano diferente

## 2015

In [3]:
ano_2015=pd.read_csv("2015.csv")
print(ano_2015.info())

print(ano_2015[['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB
None
Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
dtype: int64

## 2016

In [4]:
ano_2016=pd.read_csv("2016.csv")
print(ano_2016.info())


print(ano_2016[['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB
None
Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
dtype: int64

## 2017

In [5]:
ano_2017=pd.read_csv("2017.csv")
print(ano_2017.info())


print(ano_2017[['Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Trust..Government.Corruption.', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB
None
Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Trust..Government.Corruption.    0
Generosity                       0
dtype: int64

## 2018

In [6]:
ano_2018=pd.read_csv("2018.csv")
print(ano_2018.info())


print(ano_2018[['Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB
None
Country or region               0
Overall rank                    0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Perceptions of corruption       1
Generosity                      0
dtype: int64

## 2019

In [7]:
ano_2019=pd.read_csv("2019.csv")
print(ano_2019.info())


print(ano_2019[['Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB
None
Country or region               0
Overall rank                    0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Perceptions of corruption       0
Generosity                      0
dtype: int64

## 2020

In [ ]:
ano_2020=pd.read_csv("2020.csv")
print(ano_2020.info())

print(ano_2020[['Country name', 'Happiness Rank', 'Happiness score', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  153 non-null    object
 1   Happiness Rank                153 non-null    int64
 2   Happiness score               153 non-null    float64
 3   Upperwhisker                  153 non-null    float64
 4   Lowerwhisker                  153 non-null    float64
 5   Economy (GDP per Capita)	     153 non-null    float64
 6   Social support                153 non-null    float64
 7   Healthy life expectancy       153 non-null    float64
 8   Freedom to make life choices  153 non-null    float64
 9   Generosity                    153 non-null    float64
 10  Perceptions of corruption     153 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 13.3+ KB
None
Country name                    0
Happiness Rank                  0
Happiness score                 0
Economy (GDP per Capita)\t      0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Perceptions of corruption       0
Generosity                      0
dtype: int64

## 2021

In [24]:
ano_2021=pd.read_csv("2021.csv")
print(ano_2021.info())


print(ano_2021[['Country name', 'Happiness Rank', 'Happiness score', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  149 non-null    object
 1   Happiness Rank                149 non-null    int64
 2   Happiness score               149 non-null    float64
 3   Upperwhisker                  149 non-null    float64
 4   Lowerwhisker                  149 non-null    float64
 5   Economy (GDP per Capita)	     149 non-null    float64
 6   Social support                149 non-null    float64
 7   Healthy life expectancy       149 non-null    float64
 8   Freedom to make life choices  149 non-null    float64
 9   Generosity                    149 non-null    float64
 10  Perceptions of corruption     149 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 12.9+ KB
None
Country name                    0
Happiness Rank                  0
Happiness score                 0
Economy (GDP per Capita)\t      0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Perceptions of corruption       0
Generosity                      0
dtype: int64

## 2022

In [25]:
ano_2022=pd.read_csv("2022.csv")
print(ano_2022.info())


print(ano_2022[['Country name', 'Happiness Rank', 'Happiness score', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  146 non-null    object
 1   Happiness Rank                146 non-null    int64
 2   Happiness score               146 non-null    float64
 3   Upperwhisker                  146 non-null    float64
 4   Lowerwhisker                  146 non-null    float64
 5   Economy (GDP per Capita)	     146 non-null    float64
 6   Social support                146 non-null    float64
 7   Healthy life expectancy       146 non-null    float64
 8   Freedom to make life choices  146 non-null    float64
 9   Generosity                    146 non-null    float64
 10  Perceptions of corruption     146 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 12.7+ KB
None
Country name                    0
Happiness Rank                  0
Happiness score                 0
Economy (GDP per Capita)\t      0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Perceptions of corruption       0
Generosity                      0
dtype: int64

## 2023

In [26]:
ano_2023=pd.read_csv("2023.csv")
print(ano_2023.info())

print(ano_2023[['Country name', 'Happiness Rank', 'Happiness score', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  137 non-null    object
 1   Happiness Rank                137 non-null    int64
 2   Happiness score               137 non-null    float64
 3   Upperwhisker                  137 non-null    float64
 4   Lowerwhisker                  137 non-null    float64
 5   Economy (GDP per Capita)	     137 non-null    float64
 6   Social support                137 non-null    float64
 7   Healthy life expectancy       136 non-null    float64
 8   Freedom to make life choices  137 non-null    float64
 9   Generosity                    137 non-null    float64
 10  Perceptions of corruption     137 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 11.9+ KB
None
Country name                    0
Happiness Rank                  0
Happiness score                 0
Economy (GDP per Capita)\t      0
Social support                  0
Healthy life expectancy         1
Freedom to make life choices    0
Perceptions of corruption       0
Generosity                      0
dtype: int64

## 2024

In [27]:
ano_2024=pd.read_csv("2024.csv")
print(ano_2024.info())

print(ano_2024[['Country name', 'Happiness Rank', 'Happiness score', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  143 non-null    object
 1   Happiness Rank                143 non-null    int64
 2   Happiness score               143 non-null    float64
 3   Upperwhisker                  143 non-null    float64
 4   Lowerwhisker                  143 non-null    float64
 5   Economy (GDP per Capita)	     140 non-null    float64
 6   Social support                140 non-null    float64
 7   Healthy life expectancy       140 non-null    float64
 8   Freedom to make life choices  140 non-null    float64
 9   Generosity                    140 non-null    float64
 10  Perceptions of corruption     140 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 12.4+ KB
None
Country name                    0
Happiness Rank                  0
Happiness score                 0
Economy (GDP per Capita)\t      3
Social support                  3
Healthy life expectancy         3
Freedom to make life choices    3
Perceptions of corruption       3
Generosity                      3
dtype: int64

-------------------------------------------------------------------------------

### Tratar do country e region

In [30]:
# nestes anos, esta coluna é só países
ano_2018.rename(columns={"Country or region": "Country"}, inplace=True)
ano_2019.rename(columns={"Country or region": "Country"}, inplace=True)
ano_2020.rename(columns={"Country name": "Country"}, inplace=True)
ano_2021.rename(columns={"Country name": "Country"}, inplace=True)
ano_2022.rename(columns={"Country name": "Country"}, inplace=True)
ano_2023.rename(columns={"Country name": "Country"}, inplace=True)
ano_2024.rename(columns={"Country name": "Country"}, inplace=True)

# agora quero criar a coluna region
ano_2017["Region"] = None
ano_2018["Region"] = None
ano_2019["Region"] = None
ano_2020["Region"] = None
ano_2021["Region"] = None
ano_2022["Region"] = None
ano_2023["Region"] = None
ano_2024["Region"] = None


# dicionario que tem pais-regiao 
region_map = pd.concat([
    ano_2015[["Country", "Region"]],
    ano_2016[["Country", "Region"]]
]).dropna().drop_duplicates().set_index("Country")["Region"].to_dict()

# aplicar aos datasets sem região
for df in [ano_2017, ano_2018, ano_2019, ano_2020, ano_2021, ano_2022, ano_2023, ano_2024]:
    df["Region"] = df["Country"].map(region_map)

In [31]:
# Lista de datasets e respetivos anos
datasets = {
    2015: ano_2015,
    2016: ano_2016,
    2017: ano_2017,
    2018: ano_2018,
    2019: ano_2019,
    2020: ano_2020,
    2021: ano_2021,
    2022: ano_2022,
    2023: ano_2023,
    2024: ano_2024
}


# Mostrar colunas de cada dataset
for year, df in datasets.items():
    print(f"\n===== {year} =====")
    print(df.columns.tolist())


print("\n===== 2017 =====")
print(ano_2017[["Country", "Region"]].head())

print("\n===== 2018 =====")
print(ano_2018[["Country", "Region"]].head())

print("\n===== 2019 =====")
print(ano_2019[["Country", "Region"]].head())

print("\n===== 2020 =====")
print(ano_2020[["Country", "Region"]].head())

print("\n===== 2021 =====")
print(ano_2021[["Country", "Region"]].head())

print("\n===== 2022 =====")
print(ano_2022[["Country", "Region"]].head())

print("\n===== 2023 =====")
print(ano_2023[["Country", "Region"]].head())

print("\n===== 2024 =====")
print(ano_2024[["Country", "Region"]].head())

===== 2015 =====
['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']

===== 2016 =====
['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']

===== 2017 =====
['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.', 'Dystopia.Residual', 'Region']

===== 2018 =====
['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Region']

===== 2019 =====
['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Region']

===== 2020 =====
['Country', 'Happiness Rank', 'Happiness score', 'Upperwhisker', 'Lowerwhisker', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Region']

===== 2021 =====
['Country', 'Happiness Rank', 'Happiness score', 'Upperwhisker', 'Lowerwhisker', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Region']

===== 2022 =====
['Country', 'Happiness Rank', 'Happiness score', 'Upperwhisker', 'Lowerwhisker', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Region']

===== 2023 =====
['Country', 'Happiness Rank', 'Happiness score', 'Upperwhisker', 'Lowerwhisker', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Region']

===== 2024 =====
['Country', 'Happiness Rank', 'Happiness score', 'Upperwhisker', 'Lowerwhisker', 'Economy (GDP per Capita)\t', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Region']

===== 2017 =====
       Country          Region
0       Norway  Western Europe
1      Denmark  Western Europe
2      Iceland  Western Europe
3  Switzerland  Western Europe
4      Finland  Western Europe

===== 2018 =====
       Country          Region
0      Finland  Western Europe
1       Norway  Western Europe
2      Denmark  Western Europe
3      Iceland  Western Europe
4  Switzerland  Western Europe

===== 2019 =====
       Country          Region
0      Finland  Western Europe
1      Denmark  Western Europe
2       Norway  Western Europe
3      Iceland  Western Europe
4  Netherlands  Western Europe

===== 2020 =====
       Country          Region
0      Finland  Western Europe
1      Denmark  Western Europe
2  Switzerland  Western Europe
3      Iceland  Western Europe
4       Norway  Western Europe

===== 2021 =====
       Country          Region
0      Finland  Western Europe
1      Denmark  Western Europe
2  Switzerland  Western Europe
3      Iceland  Western Europe
4  Netherlands  Western Europe

===== 2022 =====
       Country          Region
0      Finland  Western Europe
1      Denmark  Western Europe
2      Iceland  Western Europe
3  Switzerland  Western Europe
4  Netherlands  Western Europe

===== 2023 =====
       Country                           Region
0      Finland                   Western Europe
1      Denmark                   Western Europe
2      Iceland                   Western Europe
3       Israel  Middle East and Northern Africa
4  Netherlands                   Western Europe

===== 2024 =====
   Country                           Region
0  Finland                   Western Europe
1  Denmark                   Western Europe
2  Iceland                   Western Europe
3   Sweden                   Western Europe
4   Israel  Middle East and Northern Africa

In [33]:
print(ano_2017[['Region']].isnull().sum())
print(ano_2018[['Region']].isnull().sum())
print(ano_2019[['Region']].isnull().sum())
print(ano_2020[['Region']].isnull().sum())
print(ano_2021[['Region']].isnull().sum())
print(ano_2022[['Region']].isnull().sum())
print(ano_2023[['Region']].isnull().sum())
print(ano_2024[['Region']].isnull().sum())

Region    2
dtype: int64
Region    2
dtype: int64
Region    4
dtype: int64
Region    4
dtype: int64
Region    5
dtype: int64
Region    26
dtype: int64
Region    7
dtype: int64
Region    8
dtype: int64

In [43]:
print("=== 2017 ===")
print(ano_2017[ano_2017['Region'].isnull()]['Country'])

print("\n=== 2018 ===")
print(ano_2018[ano_2018['Region'].isnull()]['Country'])

print("\n=== 2019 ===")
print(ano_2019[ano_2019['Region'].isnull()]['Country'])

print("\n=== 2020 ===")
print(ano_2020[ano_2020['Region'].isnull()]['Country'])

print("\n=== 2021 ===")
print(ano_2021[ano_2021['Region'].isnull()]['Country'])

print("\n=== 2022 ===")
print(ano_2022[ano_2022['Region'].isnull()]['Country'])

print("\n=== 2023 ===")
print(ano_2023[ano_2023['Region'].isnull()]['Country'])

print("\n=== 2024 ===")
print(ano_2024[ano_2024['Region'].isnull()]['Country'])

=== 2017 ===
32    Taiwan Province of China
70     Hong Kong S.A.R., China
Name: Country, dtype: object

=== 2018 ===
37    Trinidad & Tobago
57      Northern Cyprus
Name: Country, dtype: object

=== 2019 ===
38     Trinidad & Tobago
63       Northern Cyprus
83       North Macedonia
119               Gambia
Name: Country, dtype: object

=== 2020 ===
24      Taiwan Province of China
77     Hong Kong S.A.R. of China
86                      Maldives
112                       Gambia
Name: Country, dtype: object

=== 2021 ===
23     Taiwan Province of China
76    Hong Kong S.A.R. of China
88                     Maldives
93              North Macedonia
97                       Gambia
Name: Country, dtype: object

=== 2022 ===
5                    Luxembourg*
17                       Czechia
25      Taiwan Province of China
38                    Guatemala*
49                       Kuwait*
64                      Belarus*
77                 Turkmenistan*
78                 North Cyprus*
80     Hong Kong S.A.R. of China
85                        Libya*
88               North Macedonia
91                   Azerbaijan*
92                       Gambia*
96                      Liberia*
98                         Congo
103                       Niger*
115                     Comoros*
121     Palestinian Territories*
124        Eswatini, Kingdom of*
127                  Madagascar*
129                        Chad*
131                       Yemen*
132                  Mauritania*
140                     Lesotho*
141                    Botswana*
142                      Rwanda*
Name: Country, dtype: object

=== 2023 ===
17                       Czechia
26      Taiwan Province of China
81     Hong Kong S.A.R. of China
86               North Macedonia
98            State of Palestine
105                      Turkiye
118                       Gambia
Name: Country, dtype: object

=== 2024 ===
17                       Czechia
30      Taiwan Province of China
83               North Macedonia
85     Hong Kong S.A.R. of China
97                       Turkiye
102           State of Palestine
111                       Gambia
134                     Eswatini
Name: Country, dtype: object

In [48]:
import pandas as pd

# Dicionário base país → região (igual ao anterior)
region_map = {
    "Taiwan Province of China": "Eastern Asia",
    "Hong Kong S.A.R., China": "Eastern Asia",
    "Hong Kong S.A.R. of China": "Eastern Asia",
    "Trinidad & Tobago": "Latin America and Caribbean",
    "Northern Cyprus": "Western Europe",
    "North Cyprus": "Western Europe",
    "North Macedonia": "Central and Eastern Europe",
    "Gambia": "Sub-Saharan Africa",
    "Maldives": "Southern Asia",
    "Czechia": "Central and Eastern Europe",
    "State of Palestine": "Middle East and Northern Africa",
    "Palestinian Territories": "Middle East and Northern Africa",
    "Turkiye": "Middle East and Northern Africa",
    "Turkey": "Middle East and Northern Africa",
    "Eswatini": "Sub-Saharan Africa",
    "Eswatini, Kingdom of": "Sub-Saharan Africa",
    "Luxembourg": "Western Europe",
    "Guatemala": "Latin America and Caribbean",
    "Kuwait": "Middle East and Northern Africa",
    "Belarus": "Central and Eastern Europe",
    "Turkmenistan": "Central and Eastern Europe",
    "Libya": "Middle East and Northern Africa",
    "Azerbaijan": "Central and Eastern Europe",
    "Liberia": "Sub-Saharan Africa",
    "Congo": "Sub-Saharan Africa",
    "Niger": "Sub-Saharan Africa",
    "Comoros": "Sub-Saharan Africa",
    "Madagascar": "Sub-Saharan Africa",
    "Chad": "Sub-Saharan Africa",
    "Yemen": "Middle East and Northern Africa",
    "Mauritania": "Sub-Saharan Africa",
    "Lesotho": "Sub-Saharan Africa",
    "Botswana": "Sub-Saharan Africa",
    "Rwanda": "Sub-Saharan Africa"
}

# Função auxiliar que limpa o nome do país (remove * e espaços)
def limpar_nome(pais):
    if isinstance(pais, str):
        return pais.replace("*", "").strip()
    return pais

# Lista dos teus DataFrames
anos = [ano_2017, ano_2018, ano_2019, ano_2020, ano_2021, ano_2022, ano_2023, ano_2024]

# Preenche os valores ausentes
for i, df in enumerate(anos, start=2017):
    df['Country'] = df['Country'].apply(limpar_nome)
    df['Region'] = df.apply(
        lambda row: region_map.get(row['Country'], row['Region']) if pd.isnull(row['Region']) else row['Region'],
        axis=1
    )

# Verificar se ainda há nulos
for i, df in enumerate(anos, start=2017):
    faltam = df['Region'].isnull().sum()
    print(f"{i}: {faltam}")

2017: 0
2018: 0
2019: 0
2020: 0
2021: 0
2022: 0
2023: 0
2024: 0

### Corrigir o GDP per Capita

In [52]:
# --- 4. Padronizar nomes das colunas nos outros anos ---
ano_2015.rename(columns={"Economy (GDP per Capita)": "GDP per Capita"}, inplace=True)
ano_2016.rename(columns={"Economy (GDP per Capita)": "GDP per Capita"}, inplace=True)
ano_2017.rename(columns={"Economy..GDP.per.Capita.": "GDP per Capita"}, inplace=True)
ano_2018.rename(columns={"GDP per capita": "GDP per Capita"}, inplace=True)
ano_2019.rename(columns={"GDP per capita": "GDP per Capita"}, inplace=True)
ano_2020.rename(columns={"Economy (GDP per Capita)\t": "GDP per Capita"}, inplace=True)
ano_2021.rename(columns={"Economy (GDP per Capita)\t": "GDP per Capita"}, inplace=True)
ano_2022.rename(columns={"Economy (GDP per Capita)\t": "GDP per Capita"}, inplace=True)
ano_2023.rename(columns={"Economy (GDP per Capita)\t": "GDP per Capita"}, inplace=True)
ano_2024.rename(columns={"EEconomy (GDP per Capita)\t": "GDP per Capita"}, inplace=True)

### Social support

In [51]:
# Padronizar nomes de colunas 2015–2021
ano_2015.rename(columns={"Family": "Social Support"}, inplace=True)
ano_2016.rename(columns={"Family": "Social Support"}, inplace=True)
ano_2017.rename(columns={"Family": "Social Support"}, inplace=True)
ano_2018.rename(columns={"Social support": "Social Support"}, inplace=True)
ano_2019.rename(columns={"Social support": "Social Support"}, inplace=True)
ano_2020.rename(columns={"Social support": "Social Support"}, inplace=True)
ano_2021.rename(columns={"Social support": "Social Support"}, inplace=True)
ano_2022.rename(columns={"Social support": "Social Support"}, inplace=True)
ano_2023.rename(columns={"Social support": "Social Support"}, inplace=True)
ano_2024.rename(columns={"Social support": "Social Support"}, inplace=True)

### Healthy life expectancy

In [53]:
ano_2015.rename(columns={"Health (Life Expectancy)": "Healthy Life Expectancy"}, inplace=True)
ano_2016.rename(columns={"Health (Life Expectancy)": "Healthy Life Expectancy"}, inplace=True)
ano_2017.rename(columns={"Health..Life.Expectancy.": "Healthy Life Expectancy"}, inplace=True)
ano_2018.rename(columns={"Healthy life expectancy": "Healthy Life Expectancy"}, inplace=True)
ano_2019.rename(columns={"Healthy life expectancy": "Healthy Life Expectancy"}, inplace=True)
ano_2020.rename(columns={"Healthy life expectancy": "Healthy Life Expectancy"}, inplace=True)
ano_2021.rename(columns={"Healthy life expectancy": "Healthy Life Expectancy"}, inplace=True)
ano_2022.rename(columns={"Healthy life expectancy": "Healthy Life Expectancy"}, inplace=True)
ano_2023.rename(columns={"Healthy life expectancy": "Healthy Life Expectancy"}, inplace=True)
ano_2024.rename(columns={"Healthy life expectancy": "Healthy Life Expectancy"}, inplace=True)

### Freedom

In [54]:
# Renomear colunas para padronizar todos os anos
ano_2015.rename(columns={"Freedom": "Freedom"}, inplace=True)
ano_2016.rename(columns={"Freedom": "Freedom"}, inplace=True)
ano_2017.rename(columns={"Freedom": "Freedom"}, inplace=True)
ano_2018.rename(columns={"Freedom to make life choices": "Freedom"}, inplace=True)
ano_2019.rename(columns={"Freedom to make life choices": "Freedom"}, inplace=True)
ano_2020.rename(columns={"Freedom to make life choices": "Freedom"}, inplace=True)
ano_2021.rename(columns={"Freedom to make life choices": "Freedom"}, inplace=True)
ano_2022.rename(columns={"Freedom to make life choices": "Freedom"}, inplace=True)
ano_2023.rename(columns={"Freedom to make life choices": "Freedom"}, inplace=True)
ano_2024.rename(columns={"Freedom to make life choices": "Freedom"}, inplace=True)

### Corruption

In [ ]:
# Renomear colunas para padronizar
ano_2015.rename(columns={"Trust (Government Corruption)": "Corruption"}, inplace=True)
ano_2016.rename(columns={"Trust (Government Corruption)": "Corruption"}, inplace=True)
ano_2017.rename(columns={"Trust..Government.Corruption.": "Corruption"}, inplace=True)
ano_2018.rename(columns={"Perceptions of corruption": "Corruption"}, inplace=True)
ano_2019.rename(columns={"Perceptions of corruption": "Corruption"}, inplace=True)
ano_2020.rename(columns={"Perceptions of corruption": "Corruption"}, inplace=True)
ano_2021.rename(columns={"Perceptions of corruption": "Corruption"}, inplace=True)
ano_2022.rename(columns={"Perceptions of corruption": "Corruption"}, inplace=True)
ano_2023.rename(columns={"Perceptions of corruption": "Corruption"}, inplace=True)
ano_2024.rename(columns={"Perceptions of corruption": "Corruption"}, inplace=True)

### Generosity

In [56]:
# Renomear colunas para padronizar
ano_2015.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2016.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2017.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2018.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2019.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2020.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2021.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2022.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2023.rename(columns={"Generosity": "Generosity"}, inplace=True)
ano_2024.rename(columns={"Generosity": "Generosity"}, inplace=True)

### Happines score

In [57]:
ano_2015.rename(columns={"Happiness Score": "Score"}, inplace=True)
ano_2016.rename(columns={"Happiness Score": "Score"}, inplace=True)
ano_2017.rename(columns={"Happiness.Score": "Score"}, inplace=True)
ano_2018.rename(columns={"Score": "Score"}, inplace=True)
ano_2019.rename(columns={"Score": "Score"}, inplace=True)
ano_2020.rename(columns={"Happiness score": "Score"}, inplace=True)
ano_2021.rename(columns={"Happiness score": "Score"}, inplace=True)
ano_2022.rename(columns={"Happiness score": "Score"}, inplace=True)
ano_2023.rename(columns={"Happiness score": "Score"}, inplace=True)
ano_2024.rename(columns={"Happiness score": "Score"}, inplace=True)

### Hapiness Rank

In [67]:
#mudar tudo para o mesmo nome
ano_2015.rename(columns={"Happiness Rank": "Rank"}, inplace=True)
ano_2016.rename(columns={"Happiness Rank": "Rank"}, inplace=True)
ano_2017.rename(columns={"Happiness.Rank": "Rank"}, inplace=True)
ano_2018.rename(columns={"Overall rank": "Rank"}, inplace=True)
ano_2019.rename(columns={"Overall rank": "Rank"}, inplace=True)
ano_2020.rename(columns={"Happiness Rank": "Rank"}, inplace=True)
ano_2021.rename(columns={"Happiness Rank": "Rank"}, inplace=True)
ano_2022.rename(columns={"Happiness Rank": "Rank"}, inplace=True)
ano_2023.rename(columns={"Happiness Rank": "Rank"}, inplace=True)
ano_2024.rename(columns={"Happiness Rank": "Rank"}, inplace=True)

-------------------------------------------------------------------------------

### Apagar as colunas que não utilizamos

In [65]:
# Remover a coluna 'Dystopia.Residual' de 2017
ano_2017.drop(columns=['Dystopia.Residual'], inplace=True, errors='ignore')

# Remover a coluna 'Dystopia Residual' de 2016 e 2015
ano_2016.drop(columns=['Dystopia Residual'], inplace=True, errors='ignore')
ano_2015.drop(columns=['Dystopia Residual'], inplace=True, errors='ignore')

# 2015
ano_2015.drop(columns=['Standard Error'], inplace=True, errors='ignore')

# 2016
ano_2016.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval'], inplace=True, errors='ignore')

# 2017
ano_2017.drop(columns=['Whisker.high', 'Whisker.low'], inplace=True, errors='ignore')

# 2020–2024
for df in [ano_2020, ano_2021, ano_2022, ano_2023, ano_2024]:
    df.drop(columns=['Upperwhisker', 'Lowerwhisker'], inplace=True, errors='ignore')


print("Colunas removidas com sucesso")

Colunas removidas com sucesso

In [68]:
anos = {
    2015: ano_2015,
    2016: ano_2016,
    2017: ano_2017,
    2018: ano_2018,
    2019: ano_2019,
    2020: ano_2020,
    2021: ano_2021,
    2022: ano_2022,
    2023: ano_2023,
    2024: ano_2024
}

for ano, df in anos.items():
    print(f"\n=== {ano} ===")
    print(df.columns.tolist())

=== 2015 ===
['Country', 'Region', 'Rank', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Corruption', 'Generosity']

=== 2016 ===
['Country', 'Region', 'Rank', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Corruption', 'Generosity']

=== 2017 ===
['Country', 'Rank', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Region']

=== 2018 ===
['Rank', 'Country', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Region']

=== 2019 ===
['Rank', 'Country', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Region']

=== 2020 ===
['Country', 'Rank', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Region']

=== 2021 ===
['Country', 'Rank', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Region']

=== 2022 ===
['Country', 'Rank', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Region']

=== 2023 ===
['Country', 'Rank', 'Score', 'GDP per Capita', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Region']

=== 2024 ===
['Country', 'Rank', 'Score', 'Economy (GDP per Capita)\t', 'Social Support', 'Healthy Life Expectancy', 'Freedom', 'Generosity', 'Corruption', 'Region']

-------------------------------------------------------------------------------

### Juntar os anos todos já com as colunas arranjadas e assim

-------------------------------------------------------------------------------

### Valores em falta

-------------------------------------------------------------------------------

### Dados duplicados

-------------------------------------------------------------------------------

### Verificar tipo de dados

-------------------------------------------------------------------------------

### Outliers

-------------------------------------------------------------------------------

### Verificar consistência ao longo dos anos

-------------------------------------------------------------------------------

### Resumo estatístico anual

-------------------------------------------------------------------------------

### Histogramas e distribuições

-------------------------------------------------------------------------------

### Balanceamento

-------------------------------------------------------------------------------

### Matriz de correlação

-------------------------------------------------------------------------------

### **Pergunta geral**: 
Como evoluiu a felicidade global entre 2015 e 2022, e que padrões regionais ou estruturais explicam essas mudanças?

### Primeira visualização
A felicidade mundial está a convergir ou a divergir ao longo do tempo?

### Segunda visualização
A pandemia de 2020 alterou os fatores que mais pesam na felicidade?

### Terceira visualização
A economia continua a ser o fator mais determinante da felicidade com o passar dos anos?

### Quarta visualização
Os países mais generosos tornaram-se mais ou menos felizes ao longo do tempo?

### Quinta visualização
Quais países mudaram mais o seu ranking de felicidade — e porquê?

o que é ser feliz em diferentes regioes, que fatores influenciam isso